<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> AILI </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link th:href="@{/css/css2.css}" rel="stylesheet">

    <link th:href="@{/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid position-relative d-flex p-0">

    <div id="spinner"
         class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a th:href="@{/index}" class="">
                            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>AILI</h3>
                        </a>
                        <h3 th:text="#{login.tip}">Sign In</h3>
                        <!--signinerr值为空则不显示-->
                        <p style="color: red" th:text="${signinerr}" th:if="${not #strings.isEmpty(signinerr)}"></p>
                    </div>
                    <form th:action="@{/user/signin}">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="username">
                            <label for="floatingInput" th:text="#{login.username}">Email address</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="floatingPassword" name="password">
                            <label for="floatingPassword" th:text="#{login.password}">Password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1" th:text="#{login.remember}">Check me
                                    out</label>
                            </div>
                            <a href="" th:text="#{login.forgetpassword}">Forgot Password</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4" th:text="#{login.btn}">Sign In
                        </button>
                    </form>
                    <p class="text-center mb-0" th:text="#{login.donthaveanaccount}">Don't have an Account? <a href="">Sign
                        Up</a></p>
                </div>
            </div>
            <!--尾部-->
            <div class="container-fluid pt-4 px-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            <div>
                                <a class="btn btn-sm" th:href="@{/signin(l='zh_CN')}">简体中文</a>
                                <a> | </a>
                                <a class="btn btn-sm" th:href="@{/signin(l='en_UC')}">English</a>
                                <br>
                                <br>
                                <a>Copyright &copy; 2022.Company 爱莉 All rights reserved.</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<script th:src="@{/js/jquery-3.4.1.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/chart.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/easing.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/waypoints.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/owl.carousel.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/moment.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/moment-timezone.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/tempusdominus-bootstrap-4.min.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>

<script th:src="@{/js/main.js}" type="f827eac4ac6d7da9bd772963-text/javascript"></script>
<script th:src="@{/js/rocket-loader.min.js}" data-cf-settings="f827eac4ac6d7da9bd772963-|49" defer=""></script>
</body>
</html>